html{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  text-align: center;
  overflow: hidden;
  background-color: rgba(100,100,100, 0.6);
  background-image: url(../img/interlaced.png);
  background-blend-mode: lighten;
  min-width: 275px;
  /* -webkit-animation: bgGradient 6s ease infinite;
  -moz-animation: bgGradient 6s ease infinite;
  animation: bgGradient 6s ease infinite; */
}

@media screen and (max-width: 900px){
  body{
    background-blend-mode: unset;
    background-image: url(../img/interlaced.png);
  }
}

.bg-container{
  position: absolute;
  top: -10px;
  left: -10px;
  height: 1180px;
  width: 100%;
}

.container, .container2{
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  padding: 20px;
  width: 350px;
  height: 390px;
  background-color: rgba(100,100,255, 0.7);
  box-shadow: 1px 1px 1px rgba(100,100,100, 0.6);
  color: rgb(44,44,44);
  z-index: 2;
  transition: all 350ms;
  opacity: 1;
}

.container{
  height: 250px;
}

.login, .register{
  text-align: center;
  color: rgb(44,44,44);
}

.email, .password1, .password2, .name{
  padding: 3px;
  font-size: 140%;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px rgba(100,100,100, 0.6);
}

.login-btn, .register-btn{
  margin: 20px 0 0 0;
  height: 36px;
  width: 279px;
  border: none;
  background-color: rgb(240,240,240);
  font-size: 140%;
  transition: all 300ms;
  box-shadow: 1px 1px 1px rgba(100,100,100, 0.6);
}

.login-btn{
  margin-top: 20px;
}

.login-btn:hover, .register-btn:hover{
  background-color: rgb(220,220,220);
}

.hidden{
  visibility: hidden;
  display: none;
}

.show{
  position: relative;
  margin: 50px auto;
  width: 279px;
  height: 40px;
  border: none;
  transition: all 300ms;
  font-size: 140%;
  box-shadow: 1px 1px 1px rgba(100,100,100, 0.6);
}

.show:hover{
  background-color: rgb(220,220,200);
}

.pwHintRegister, .nameHintRegister, .nameHintLogin, .pwHintLogin{
  position: absolute;
  top: 200px;
  left: 50%;
  width: 90%;
  height: auto;
  transform: translateX(-50%);
  background-color: rgb(240,80,80);
  padding: 5px;
  opacity: 0.9;
  z-index: 2;
  font-weight: bold;
}

.test-btn{
  position: absolute;
  top: 50px;
  left: 50px;
  height: 100px;
  width: 200px;
}


/* ################ MOBILE VIEW ################ */


@media screen and (max-width: 402px){
  .container, .container2{
    top: 60px;
    width: 100%;
  }

  .show{
    width: 100%;
    height: 40px;
    margin: 0 auto;
  }
}


/* ######## BACKGROUND ANIMATION ######### */

@-webkit-keyframes bgGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}